body.dark {
  background: #0f172a;
  color: #f8fafc;
}

/* NAVBAR */

body.dark .navbar {
  background: #1e293b;
  border-bottom: 1px solid #334155;
}

body.dark .navbar-logo h2 {
  color: #f8fafc;
}

body.dark .navbar-logo p {
  color: #94a3b8;
}

body.dark .navbar-links a {
  color: #94a3b8;
}

body.dark .navbar-links a.active {
  color: #60a5fa;
}

/* CARDS */

body.dark .card,
body.dark .schedule-card,
body.dark .subject-card,
body.dark .subject-item,
body.dark .calendar-card,
body.dark .login-card,
body.dark .assessment-card,
body.dark .progress-card,
body.dark .note-box {
  background: #1e293b;
  color: #f8fafc;
  border: 1px solid #334155;
}

body.dark .alert-box {
  background: #14532d;
  color: #86efac;
}

body.dark input,
body.dark select {
  background: #334155;
  color: white;
  border: 1px solid #475569;
}

body.dark table {
  color: white;
}

body.dark th {
  color: #cbd5e1;
}

body.dark td {
  color: #f8fafc;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4{
  color:#f8fafc;
}

body.dark .theme-card{
  background:#1e293b;
  color:#f8fafc;
  border:1px solid #334155;
}

